.todo-info-bar {
  max-width: 700px;
  min-width: 100%;
  margin: 3rem auto;
  background-color: rgba(9, 209, 19, 0.369);
  padding: 2rem;
  border: 1px solid rgba(33, 128, 4, 0.815);
  border-radius: 4px;
  box-shadow: 3px 6px 16px rgba(0, 0, 0, 0.2);

  label {
    display: block;
  }

  .todo-input-field {
    padding: 2rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 2.3rem;
    box-shadow: 3px 6px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(33, 128, 4, 0.815);
  }

  .add-todo-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;

    .add-todo-btn {
      margin-bottom: 2rem;
      padding: 1rem 1.3rem;
      color: white;
      font-size: 1.8rem;
      letter-spacing: 1px;
      background-color: rgba(33, 128, 4, 0.815);
      border: none;
      outline: none;
      max-width: 20rem;
      border-radius: 4px;
    }
  }

  .urgent-checkbox-group {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    .urgent-checkbox-label {
      font-size: 1.5rem;
      font-weight: bold;
      margin-right: 1rem;
    }

    .urgent-checkbox {
      padding: 3rem;
    }
  }
}
